
<%- include('head'); %>



<div class="container-fluid">
    <a href="/newtkt"><button class="btn btn-primary">New Complaint</button></a>

    <table class="table">
        <tr>
           <th>Type</th><th>Date</th><th>Severity</th><th>Description</th><th>Status</th>
        </tr>
     
        <% for (var i = 0; i < tkts.length; i++) { %>
         <tr>
           <td><%= tkts[i].Type %></td>
           <td><%= tkts[i].Date %></td>
           <td><%= tkts[i].Severity %></td>
           <td><%= tkts[i].Description %></td>
           <td><%= tkts[i].Status %></td>
         </tr>    
        <% } %>
     </table>
</div>